.item-wrap{
	width: 270px;
}
.card-title a{
	text-decoration: none;
	color: #000933;
}
.card-title img{
	position: absolute;
	z-index: -1; 
}
.content p{
	font-size: 10px;
}
.content .card-title{
	display: flex;
	font-size: 16px;
	margin-bottom: 8px;
}
.square p{
	font-size: 12px;
	font-weight: 300;
	border-right: 0.5px solid #000000;
	width: calc(100% / 3 - 2px);
	span{
		font-weight: 400;
	}
	&:first-child{
		border-right: none;
		padding-right: 0;
	}
}
.content-wrap{
	display: flex;
	justify-content: space-between;
	padding: 13px 8px;
	position: relative;
	position: absolute;
	top: 0;
	left: 7%;
	.plus{
		background: rgba(0, 0, 0, 0.35);
		width: 31px;
		height: 31px;
		border-radius: 50%;
		margin-left: 8px;
		margin-right: -13px;
		cursor: pointer;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			width: 10px;
			height: 1px;
			background: #fff;
			top: 50%; left: 50%;
			transform: translate(-50%,-50%);
			}
		&:hover:before{
				background: #212121;
		}
		&::after{
			content: '';
			position: absolute;
			width: 1px;
			height: 10px;
			background: #fff;
			top: 50%; left: 50%;
			transform: translate(-50%,-50%);
			}
		&:hover:after{
				background: #212121;
		}	
	}
	img{
		position: relative;
		&:hover{
			color: red;
		}
}
	.bg-heart{
		background: rgba(0, 0, 0, 0.35);
		border-radius: 100%;
		padding: 8px;
		z-index: -1;
		margin-right: 8px;
		position: relative;
		&:last-child{
			width: 31px;
			height: 31px;
			padding: 8px 9px;

		}
	}
	p{
		color: #fff;
		cursor: pointer;
	}

	.time{
		background: linear-gradient(104.99deg, #74A0FF 1.27%, #506DAB 100%, #506DAB 100%);
		border-radius: 5px;
		text-align: center;
		padding: 10px 5px;
		color: #fff;
		display: flex;
		align-items: baseline;
		p:first-child{
			font-size: 10px;
		}
		p:nth-child(2){
			margin-right: 5px;
			font-size: 8px;
		} 
	}
}
.price{
    position: absolute;
    top: 189px;
    z-index: 5;
    &::before{
	    content: '';
	    position: absolute;
	    width: 270px;
	    height: 50px;
	    top: -22px;
	    right: -20px;
	    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    	z-index: -1;
    }
    p{
    	font-size: 18px;
    	color: #fff;
    	font-weight: 500;
    }
	}
.quincy{
		font-weight: 300;
	}	
.arrow-prev{
	position: absolute;
    top: 43%;
    left: 0;
    z-index: 1;
    cursor: pointer;
}
.arrow-next{
	position: absolute;
    top: 43%;
    right: 0;
    z-index: 1;
    cursor: pointer;
}
.square{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	text-align: center;
}
.slicker{
	height: 220px;
}
.slick-slider{
	margin-bottom: 0;
}
.bottom-text{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	padding-right: 20px;	
	div:last-child{
		background: #ECF5F7;
		border-radius: 0px 5px;
		padding: 13px 54px 15px 25px;
		font-size: 12px;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		img{
			position: absolute;
			right: 28px;
		}
	}
	p{
		background: #FBFBFB;
		border-radius: 5px;
		padding: 7px 24px;
		max-height: 26px;
		font-size: 12px;
		cursor: pointer;
		font-weight: 300;
	}
	a{
		text-decoration: none;
		color: #000000;
	}
}
.item-wrap{
	box-shadow: 0 0 10px rgba(0,0,0,0);
	position: relative;
	border-radius: 5px;
	&:nth-child(n+5){
		margin-top: 20px;
	}
	&:hover{
		box-shadow: 1px 2px 22px -4px rgba(0,0,0,0.75);
	}
}
.content{
	padding: 20px;
}
.content-wrap .bg-heart:last-child{
	cursor: pointer;
	z-index: 1;
	margin-right: 8px;
}
svg{
    top: 50%;
    left: 50%;
    fill: white;
    position: absolute;
    transform: translate(-50%, -50%);
	&:hover{
		fill: red;
	}
}
.calendar input{
	display: none;
}
#ui-datepicker-div{
	padding: 10px;
    left: 183.891px;
    top: 67%;
    background: #fff;
}
.ui-datepicker-calendar a{
	text-decoration: none;
	
}