<header>
    <div class="conteiner">
        <div class="starter">
            <div class="logo-part">
                <a href="/">
                    <img src="images/logo.svg" alt="">
                </a>
            </div>
        </div>
        <div class="ender">
            <nav>
                <ul>
                    <li>
                        <a href="">תיבה דומע</a>
                    </li>
                    <li>
                        <a href=""> וניתודוא </a>
                    </li>
                    <li>
                        <a href=""> םיסכנ </a>
                    </li>
                    <li>
                        <a href=""> םינכוס  </a>
                    </li>
                    <li>
                        <a href=""> גולב </a>
                    </li>
                    <li>
                        <a href=""> רשק רוצ </a>
                    </li>    
                    <li class="menu-item-has-children">
                        <a href=""> Cities </a>
                        <ul>
                            <li>
                                <a href="">תיבה דומע</a>
                            </li>
                            <li>
                                <a href=""> וניתודוא </a>
                            </li>
                            <li>
                                <a href=""> םיסכנ </a>
                            </li>
                            <li>
                                <a href=""> םינכוס  </a>
                            </li>
                            <li>
                                <a href=""> גולב </a>
                            </li>
                            <li>
                                <a href=""> רשק רוצ </a>
                            </li>    
                            <li>
                                <a href=""> Cities </a>
                            </li>             
                        </ul>
                    </li>             
                </ul>
            </nav>
            <div class="last-part">
                <div class="logged">
                    <a data-fancybox data-src="#register" href="javascript:;" class="register"> הרשם </a>
                    /
                    <a data-fancybox data-src="#login" href="javascript:;" class="login">התחבר </a>
                    <div class="icon">
                        <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.99994 3.5C9.99994 5.433 8.43294 7 6.49994 7C4.56694 7 2.99994 5.433 2.99994 3.5C2.99994 1.567 4.56694 0 6.49994 0C8.43294 0 9.99994 1.567 9.99994 3.5Z" fill="#000933"/>
                            <path d="M-6.10352e-05 14C-6.10352e-05 11.2386 2.23852 9 4.99994 9H7.99994C10.7614 9 12.9999 11.2386 12.9999 14H-6.10352e-05Z" fill="#000933"/>
                        </svg>
                    </div>
                </div>
                <div class="add">
                    <a href="#" class="butt-add">
                        <span>סכנ ףסוה</span>
                        <span> + </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>