<div class="first-wrap">
    <div class="siders">
        <div class="start" style="background-image: url(images/first-bg.jpg);">
            <div class="mbox-half">
                <div class="topper-part">
                    <h1> נכסים למכירה והשכרה </h1>
                    <p> באיזה עיר אתם מחפשים את הנכס שלכם ?</p>
                </div>           
                <div class="form-part">
                    <form action="">
                        <div class="siders">
                            <div class="inputer">
                                <input type="text" name="search" placeholder="הזן עיר בא תרצה למצוא נכס?">
                            </div>
                            <div class="submiter">
                                <button type="submit" class="butt">
                                    <span>חפש לי</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="end" style="background-image: url(images/first-end.jpg);">
            <div class="contein mbox-half">
                <div class="conteiner">
                    <div class="texter">
                        <p> בניין חדש ברחוב הירקון ליד הבורסה 5 חדרים עם מעלית </p>
                    </div>
                    <a href="#" class="go-to">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.26481 4.83247H8.56481V4.9658H2.26481H1.0577L1.91125 5.81935L4.67437 8.58247L4.57681 8.68003L0.795913 4.89913L4.57681 1.11824L4.67437 1.2158L1.91125 3.97891L1.0577 4.83247H2.26481Z" fill="white" stroke="white"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>